/bin

.idea
**/log
*.pid
*.jar
!.mvn/wrapper/maven-wrapper.jar
*.iml
**/target
**/temp/**
/build/

.settings
.classpath
.project
*.*~
pom.xml.releaseBackup
release.properties
pom.xml.next
**/.DS_Store
